body {
  font-family: "Copse", serif;
  color: #44586e;
}

hr {
  border-color: #44586e;
  margin: 2% 15%;
}

.perso_policeTitle {
  font-family: "Fredoka One", cursive;
}

.perso_shadowBox {
  box-shadow: 0px 2px 15px black;
}

.perso-imgLogo {
  width: 80px;
}

.perso_headerAsso {
  color: #ff00ff !important;
}

.perso_headerPensionnaires {
  color: goldenrod !important;
}

.perso_headerActus {
  color: greenyellow !important;
}

.perso_headerConseils {
  color: crimson !important;
}

.perso_headerContacts {
  color: lightskyblue !important;
}

.perso_headerFontSize {
  font-size: 20px !important;
}

.perso_minCorpsSize {
  min-height: 500px;
}

.perso_textShadow {
  text-shadow: 1px 1px 1px black !important;
}

.perso_bgGreen {
  background-color: lightgreen !important;
}

.perso_bgPink {
  background-color: pink !important;
}

.perso_bglightBlue {
  background-color: lightskyblue !important;
}
